---
import PageLayout from '../layouts/PageLayout.astro';
import Reveal from '../components/Reveal.astro';
import { t } from '../lib/i18n';

const locale = 'en';
const strings = t(locale);
const currentPath = Astro.url.pathname;
---

<PageLayout
  title={strings.education.title}
  locale={locale}
  currentPath={currentPath}
>
  <Reveal>
    <p>
      • MPhil Candidate, The Hong Kong University of Science and Technology, Guangzhou (HKUST
      Guangzhou), <strong>Aug 2025 - Present</strong><br /><br />
      • Research Assistant, The Hong Kong University of Science and Technology, Guangzhou (HKUST Guangzhou),
      <strong>Aug 2024 - Aug 2025</strong><br /><br />
      • Bachelor of Science in Atmospheric Sciences, Sun Yat-sen University (SYSU),
      <strong>Sep 2020 - Jun 2024</strong><br /><br />
    </p>
    <p>
      <a href="/assets/documents/Z_Yang_Curriculum_Vitae.pdf" target="_blank" rel="noopener">
        {strings.education.cv}
      </a>
    </p>
  </Reveal>
</PageLayout>
